{% load static %}

<div class="tab-pane fade show active" id="pills-owner" role="tabpanel" aria-labelledby="pills-owner-tab">
	<div class="row">
		<div class="col-md-4">
			<ul class="features">
				<li class="check"><span class="ion-ios-checkmark"></span>Lot Area: 1,250 SQ FT</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Bed Rooms: 4</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Bath Rooms: 4</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Luggage</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Garage: 2</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="features">
				<li class="check"><span class="ion-ios-checkmark"></span>Floor Area: 1,300 SQ FT</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Year Build:: 2019</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Water</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Stories: 2</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Roofing: New</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="features">
				<li class="check"><span class="ion-ios-checkmark"></span>Floor Area: 1,300 SQ FT</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Year Build:: 2019</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Water</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Stories: 2</li>
				<li class="check"><span class="ion-ios-checkmark"></span>Roofing: New</li>
			</ul>
		</div>
	</div>
</div>