{% load static %}

<section class="ftco-section ftco-no-pb">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url( {% static 'main/images/about.jpg' %} );">
			</div>
			<div class="col-md-6 wrap-about py-md-5 ftco-animate">
		<div class="heading-section p-md-5">
		<h2 class="mb-4">We Put People First.</h2>

		<p>We are a group of Students from VIT University, who thought it would be a great Idea to implement blockchains in Land Registration as a way to make them immutable.</p>
		<p>Finally, we took it upon outrselves to build this site by ourselves suing the things that we know and learning the things that we didn't from our very helpful and resourceful peers. We also thought it will be a great idea for our Lean Startup Management Course and did this as project for the same.</p>
		</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-counter img" id="section-counter">
	<div class="container">
		<div class="row">
		<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
		<div class="block-18 py-4 mb-4">
			<div class="text text-border d-flex align-items-center">
			<strong class="number" data-number="30">0</strong>
			<span>Area <br>Population</span>
			</div>
		</div>
		</div>
		<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
		<div class="block-18 py-4 mb-4">
			<div class="text text-border d-flex align-items-center">
			<strong class="number" data-number="100">0</strong>
			<span>Total <br>Properties</span>
			</div>
		</div>
		</div>
		<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
		<div class="block-18 py-4 mb-4">
			<div class="text text-border d-flex align-items-center">
			<strong class="number" data-number="20">0</strong>
			<span>Current <br>Employees</span>
			</div>
		</div>
		</div>
		<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
		<div class="block-18 py-4 mb-4">
			<div class="text d-flex align-items-center">
			<strong class="number" data-number="1">0</strong>
			<span>Total <br>Branches</span>
			</div>
		</div>
		</div>
	</div>
	</div>
</section>

<!--  COMMENT
{% include "main/fragments/testimonials_f.html" %}
-->
