{% load static %}

<section class="ftco-section ftco-degree-bg services-section img mx-md-5" style="background-image: url( {% static 'main/images/bg_2.jpg' %} );">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-start mb-5">
		<div class="col-md-6 text-center heading-section heading-section-white ftco-animate">
		<span class="subheading">Work flow</span>
		<h2 class="mb-3">How it works</h2>
		</div>
	</div>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services services-2">
					<div class="media-body py-md-4 text-center">
					<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>01</span></div>
					<h3>Register Property</h3>
					<p>First, you Start your registration process online, by clicking the 'Register' button.</p>
					</div>
				</div>      
				</div>
				<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services services-2">
					<div class="media-body py-md-4 text-center">
					<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>02</span></div>
					<h3>Enter Details</h3>
					<p>You enter your Details and the Property's Details as asked in the Registrations page.</p>
					</div>
				</div>      
				</div>
				<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services services-2">
					<div class="media-body py-md-4 text-center">
					<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>03</span></div>
					<h3>Finalize Registration</h3>
					<p>We will then Verify the details you provided from our end, Just to check everything are in order.</p>
					</div>
				</div>      
				</div>
				<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services services-2">
					<div class="media-body py-md-4 text-center">
					<div class="icon mb-3 d-flex align-items-center justify-content-center"><span>04</span></div>
					<h3>Get your E-Key</h3>
					<p>Finally, your details will get added to the Registry, and the Hash of your very own block will be given to you as your E-Key</p>
					</div>
				</div>      
				</div>
			</div>
			</div>
		</div>
	</div>
</section>