{% load static %}

<section class="ftco-section goto-here">
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12 heading-section text-center ftco-animate mb-5">
		<span class="subheading">Our Services</span>
		<h2 class="mb-2">The smartest way to Register a home</h2>
		</div>
	</div>
	<div class="row d-flex">
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services d-block text-center">
			<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
			<div class="media-body py-md-4">
			<h3>No Registration Charges</h3>
			<p>Registrations done on this Portal are free, and no money will be charged to the Land Holders or Owners.</p>
			</div>
		</div>      
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services d-block text-center">
			<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wallet"></span></div>
			<div class="media-body py-md-4">
			<h3>No Hidden Fees</h3>
			<p>Again, all of this is completely free.</p>
			</div>
		</div>      
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services d-block text-center">
			<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-file"></span></div>
			<div class="media-body py-md-4">
			<h3>Go Paperless</h3>
			<p>Fully Digital. No more worrying about pesky land deeds and other Registration documents.</p>
			</div>
		</div>      
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services d-block text-center">
			<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-locked"></span></div>
			<div class="media-body py-md-4">
			<h3>Completely Safe</h3>
			<p>We use blockchains to deal with all transaction, making all your transactions secure and immutable.</p>
			</div>
		</div>      
		</div>
	</div>
	</div>
</section>